[2017-11-20 11:43] blazeu opened #1 "Use multiple columns"
As we can see from the screenshot in `README.md`, it has multiple columns, but our gh-board doesn't.

That is because [ryanprior/gh-board](https://github.com/ryanprior/gh-board) uses [hard-coded columns based on the issue labels](https://github.com/ryanprior/gh-board/commit/15a45eff4255ef0a911f220033e85e7bca2788bf).

And the original [philschatz/gh-board](https://github.com/philschatz/gh-board) us

[2017-11-22 07:05] jayvdb opened #2 "Merge all patches upstream"
The goal should be to merge everything upstream to https://github.com/philschatz/gh-board .  ping @philschatz

But merging upstream to https://github.com/ryanprior/gh-board is also OK temporarily.  ping @ryanprior
(There are some nice features here you might like to cherry-pick ;-)

Any coala customisation specifics should be loaded from somewhere else, so that `master` doesnt need to ahead of ups

[2017-11-24 19:06] ryanprior commented on #2
Thanks, feel free to open a PR against my fork.

[2017-12-04 16:51] jayvdb opened #3 "front page should default to coala repos"
Currently the user must go to https://coala.github.io/gh-board/#/r/coala:coala|coala-bears|documentation|corobo/kanban in order to get coala issues.

The front page should default to coala content.

[2017-12-09 18:19] jayvdb opened #4 "Add currently active repos"
https://community.coala.io/activity/ is based on this dataset, but it isnt very accurate because the dataset isnt reflective of currently active repos.

- corobo
- community
- gci-leaders
- coalaCSS

And for good measure, I expect landing-frontend will become active soon, so it should be added also.

[2017-12-22 05:03] jayvdb commented on #4
Added to Travis env var REPOSITORIES

[2017-12-22 05:03] #4 closed

[2017-12-22 05:33] jayvdb opened #5 "Notes about diverging forks"
A currently active fork , based on @ryanprior  : https://github.com/hiroshis/gh-board/commits?author=hiroshis .  @hiroshis , lets all work together ?

There are a lot of modified forks that are adding a dummy commit only to initiate the build.  Some better guidance on how to initiate a build using Travis' cron builds may help here.

https://github.com/Kujawadl/gh-board/commit/f6ceba7be4c91ebf3caa7

[2017-12-22 05:38] jayvdb opened #6 "Add configuration support"
https://github.com/coala/gh-board/issues/1 is going to need to include configurability, so that repos with different structure can work in different ways.  i.e. we need to at least support @philschatz 's label system and derived gh-board layout, and support what @ryanprior likes, and what @coala needs, so that our patches will be able to make it back through the forks to the main repo (c.f. https:

[2017-12-22 05:44] jayvdb commented on #1
This is likely blocked until https://github.com/coala/gh-board/issues/6 is done, otherwise we end up with a wildly divergent fork.

[2017-12-22 05:51] jayvdb commented on #3
This doesnt need configuration to achieve.  The prefetched issues provides the default set of repos we want.

[2017-12-22 06:04] jayvdb commented on #2
c.f. https://github.com/coala/gh-board/issues/5

[2017-12-22 06:05] jayvdb commented on #2
I've created #6 to add this separately

[2017-12-22 06:35] jayvdb commented on #2
@ryanprior , we consider the history of this fork to be git rewrite-able at the moment, until there are forks hanging off it other than our own which we can rebase/reconnect patches onto.  Any offsite clones are effectively useless.  This is a github app, so only github forks need to be considered when contemplating rewriting history, and we dont have that problem ... yet .  While ugly, this probl

[2017-12-22 06:57] jayvdb commented on #5
And @ryanprior has updated `package.json`, modifying `bugs:` & `repository:`

[2018-02-12 11:23] varunzxzx commented on #3
@jayvdb By front page, you meant that [https://coala.github.io/](https://coala.github.io/) should show the content of [https://coala.github.io/gh-board/#/r/coala:coala%7Ccoala-bears%7Cdocumentation%7Ccorobo/kanban](https://coala.github.io/gh-board/#/r/coala:coala%7Ccoala-bears%7Cdocumentation%7Ccorobo/kanban)?

[2018-02-12 11:34] jayvdb commented on #3
No.

 The front page of this project is https://coala.github.io/gh-board/ , and it should automatically show the correct content for coala .

[2018-02-12 12:32] varunzxzx commented on #3
Sir, I want to work on this issue? But I am not able to figure out which component is fetching the data from Github, based on the params. Can you help me in this?

[2018-02-12 14:45] varunzxzx commented on #3
I found that. Can you please assign me to this issue

[2018-03-09 09:28] varunzxzx opened #10 "fetch-issue.js is never ending"
`fetch-issue.js` is never ending because of this Netlify is showing that the build is taking too much time.

[2018-03-09 10:20] jayvdb commented on #10
I've triggered a build on master: https://app.netlify.com/sites/coala-gh-board/deploys/5aa25fd7be40f121c89bbb32

[2018-03-09 10:58] jayvdb commented on #10
maybe related, Travis is failing with

[code]

[2018-03-09 12:10] jayvdb commented on #10
https://github.com/coala/gh-board/pull/11 didnt fix it ;-(

ping @blazeu / @wisn

[2018-03-09 13:18] wisn commented on #10
Need further research. I can't do it now.

[2018-03-09 15:06] varunzxzx commented on #10
I ran it with `headless: false` and I found that the token is getting stored but issues are not loading

[2018-03-10 11:28] blazeu opened #13 "Travis is failing because of puppeteer"
See https://github.com/travis-ci/travis-ci/issues/8836

[2018-03-10 11:28] sils commented on #13
Hi, I'm [GitMate.io](https://gitmate.io)!

It seems you've just enabled the issue triaging. I'm just scraping all issues from your repository and will give you some more information about this in a few minutes or so.

Because of the rate limit we can't scrape all information (including all comments and authors) right now - our system is already set up to scrape this in the next days over which the

[2018-03-10 12:16] blazeu commented on #10
It works on my machine, and on my own Netlify fork, with 1 repository to fetch issues from. I assume this is just Netlify being slow on fetching the issues, but https://github.com/coala/gh-board/pull/12 is still failing even with 15minutes and less repos than before.

[2018-03-10 15:34] jayvdb commented on #10
the structure of issues.json is really basic; we could build our own generator.

[2018-03-10 15:36] jayvdb commented on #10
also there is a lot of unused junk in the data, and redundancy.  a custom generator would have lots of benefits IMO.

[2018-03-10 17:11] varunzxzx commented on #10
I added only one repo i.e. `coala` and commented out the function which is storing the `gh-token`. Then, It was working fine. This might help you in figuring out the problem.

[2018-05-01 12:20] li-boxuan opened #16 "Modernize existing React component code"
As https://github.com/coala/projects/pull/565#discussion_r184334651 points out, our current gh-board has some deprecated React code. A refactor is needed.
[code]

[2018-05-02 08:50] li-boxuan opened #19 "Remove unused package dependencies"
Running [depcheck](https://github.com/depcheck/depcheck) provides the following output:
[code]

[2018-05-02 09:30] jayvdb opened #20 "Etherpad functionality is offline"
`gh-board` allows for editing of issues via `src/components/etherpad.jsx`

That file refers to https://openstax-pad.herokuapp.com/ , which is Down for maintenance.

It should be possible to configure the etherpad server to be used ([there are many free](https://github.com/ether/etherpad-lite/wiki/Sites-that-run-Etherpad-Lite), and also disable it.

[2018-05-02 09:31] jayvdb commented on #19
It is reporting used dependencies, especially used by the scripts in `package.json`

[2018-05-02 09:35] jayvdb commented on #19
`octicons` is probably used indirectly via `react-octicons`, and the explicit entry in this package.json is to provide a specific version.  Removing it might be ok, but may result in the version floating around unnecessarily.  Needs investigation.

[2018-05-02 09:38] li-boxuan commented on #19
That's limitation of `depcheck`. It cannot detect dev-dependencies used in custom scripts (but it can detect dependencies used in `package.json`).

[2018-05-02 09:40] li-boxuan commented on #19
I am not quite sure, but doesn't `package-lock.json` achieve that?

[2018-05-02 10:27] jayvdb commented on #19
not quite. `package-lock.json` prevents versions changing unnecessarily, especially on different machines, but if you want to specify a version, it needs to be in `package.json`.

[2018-05-02 11:32] blazeu commented on #19
So, which one is unused? I think there's none on that list.
Except parallelshell that used to run the old tests which now are disabled.

[2018-05-02 13:12] li-boxuan commented on #19
Thanks for replies. I got a wrong understanding of the usage of `package-lock.json`. I'll close this issue.

[2018-05-02 13:12] #19 closed

[2018-05-04 05:29] jayvdb commented on #3
PR #9 is attempting to solve this by setting the front page to be the kanban.

Another approach would be to keep showing the Dashboard , but show the repositories from `REPOSITORIES` instead of [`SAMPLE_REPOS`](https://github.com/philschatz/gh-board/blob/4b38527dfecb2a9cdcb38f064b897781bb3270fe/src/components/dashboard.jsx#L15) *if* `REPOSITORIES` is defined (it will be empty for pull requests)

[2018-05-04 05:46] jayvdb opened #22 "Travis CI: Detect repositories"
`script/fetch-issues.js` currently does nothing on Travis PRs because PRs do not get access to the environment variables set in Travis (for security reasons).

This can be solved by setting a repository list automatically based on the org.
The way to do this without hard-coding coala is to get the list of org repositories, and selecting at least two repos.

Probably a good algorithm for selecting

[2018-05-04 06:05] jayvdb opened #23 "Load issues from the previous run"
By import the issues&PRs from http://coala.github.io/gh-board/issues.json *before* fetching new issues, the fetching of new issues/PRs only needs to add recently modified issues/PRs.

As Travis can do a daily cron job, this will mean `fetch-issues.js` only needs to fetch new and modified issues/PRs within the last 24 hrs.

[2018-05-04 07:51] li-boxuan commented on #23
We now have `fetch-issues.js` which fetches all existing issues. IMO we could rename that to `pre-fetch-all.js` and build a new script, namely `fetch-24hrs.js` or `daily-fetch.js` which fetches issues/PRs within the last 24 hrs.

[2018-05-05 02:22] jayvdb opened #24 "Travis CI: Add linting"
Add `script` to the lint command, and run from Travis CI.

[2018-05-05 02:22] li-boxuan opened #25 "Add eslint check on script folder"
Currently, `npm run lint` runs `eslint src --ext .js --ext .jsx`, which doesn't include `script` folder.

[2018-05-05 02:23] #25 closed, assigned to nobody

[2018-05-05 02:28] blazeu commented on #24
I think it's in already, it's just only linting `src` directory https://github.com/coala/gh-board/blob/d05f4ff2399978174e88edeba0b379ff65bd8033/package.json#L20

#25 is to add `scripts` directory to eslint

[2018-05-05 13:03] #13 closed

[2018-05-07 06:38] jayvdb commented on #10
Fixed in another PR.

[2018-05-07 06:38] #10 closed

[2018-05-07 06:41] jayvdb opened #26 "Use GraphQL for issue sync"
The pre-fetcher switched to using GraphQL.

It should be possible to switch the in-app fetch to also use GraphQL, and share code between the fetches.

[2018-05-07 06:43] jayvdb opened #27 "Creare tests for issues.json"
The generated issues.json provifes an easy target for writing tests.

The gci-leaders repo should be used as a model for the test framework.

[2018-05-07 11:52] jayvdb opened #28 "Travis npm caching problem"
https://travis-ci.org/coala/gh-board/builds/375797083#L462

[2018-05-07 12:43] blazeu commented on #26
The app is using https://github.com/philschatz/octokat.js

[2018-05-07 14:40] li-boxuan opened #29 "Undefined function in issue-blurb.jsx"
`onClickIcon` is used [here](https://github.com/coala/gh-board/blob/4236f9ca19aed7f7c2b7a5ead25a81affca1ed72/src/components/issue-blurb.jsx#L61) but defined nowhere.

It seems `onClick` attribute is not being used by the library react-octicons: https://github.com/philschatz/react-octicons/blob/master/build.js#L29, which is why the undefined `onClickIcon` doesn't lead to an exception.

Needs invest

[2018-05-08 01:05] jayvdb opened #30 "Create issues for TODOs"
There are a lot of TODOs in the source.

Create issues for any which do not yet have PRs or issues at https://github.com/philschatz/gh-board or in this repo.

[2018-05-08 02:42] jayvdb commented on #20
Imo collaborative editing of issues is not a very useful feature.

Single user editing of issues is far more common and desirable, and can be done without extern hosting dependencies, which makes it more reliable.

[2018-05-08 14:04] li-boxuan opened #31 "filter-dropdown.jsx: include labels from all repos"
As https://github.com/coala/gh-board/blob/4236f9ca19aed7f7c2b7a5ead25a81affca1ed72/src/components/app/filter-dropdown.jsx#L349 suggests, we should include **all** labels, not just the ones in the primary repo.

For example, if the primary repo is` coala/projects`:
<img src="https://user-images.githubusercontent.com/25746010/39761677-4d8c2748-530b-11e8-9a97-f6499c790813.jpg" width=200>

If the prim

[2018-05-08 14:09] li-boxuan opened #32 "by-milestone-view.jsx: Say "No Issues" when there's nothing to display"
As https://github.com/coala/gh-board/blob/4236f9ca19aed7f7c2b7a5ead25a81affca1ed72/src/components/by-milestone-view.jsx#L67 suggests, if there is only one column and no issue is shown, the panel should say "No issues" instead.

[2018-05-08 14:57] li-boxuan opened #34 "filter-dropdown.jsx: Polling before rendering milestones and labels"
As https://github.com/coala/gh-board/blob/4236f9ca19aed7f7c2b7a5ead25a81affca1ed72/src/components/app/filter-dropdown.jsx#L348 suggests, we could do polling, i.e. `_fetchAllIssues`, before rendering milestones and labels.

If my understanding is correct, I personally find that unnecessary.

[2018-05-08 14:59] li-boxuan commented on #30
filter-dropdown.jsx: include labels from all repos https://github.com/coala/gh-board/issues/31
Say "No Issues" when there's nothing to display https://github.com/coala/gh-board/issues/32
filter-dropdown.jsx: Polling before rendering milestones and labels https://github.com/coala/gh-board/issues/34

[2018-05-08 17:44] philschatz commented on #20
Oops, I did not realize anyone was using the etherpad functionality; it is back up again.

Also, if you do not want to use the collaborative editing feature, you can click the Issue title and edit the Issue directly.

[2018-05-09 04:19] li-boxuan opened #35 "Display my issues/PRs on gh-board"
As https://github.com/coala/cEPs/pull/123#issuecomment-387244390 suggests, "my issues/PRs" and sub-views of that doesn't appear to be a feature of gh-board yet, but it should be.

[2018-05-10 07:45] li-boxuan commented on #28
I guess it's probably because fetching 100 issues/prs at a time is too much.

[2018-05-11 14:37] li-boxuan opened #36 "Modernize d3 code"
gh-board is currently using d3 v4.3.0 https://github.com/coala/gh-board/blob/46f1ad5ce83d5d72aa95ea00703b92c2fc38b2dc/package.json#L62 but `gantt-chart.js` is still using d3 v3 api.

For example,
https://github.com/coala/gh-board/blob/46f1ad5ce83d5d72aa95ea00703b92c2fc38b2dc/src/gantt-chart.js#L19 is still using `d3.time` which is deprecated in d3 v4.

[2018-05-11 14:50] #16 closed, assigned to li-boxuan

[2018-05-14 05:28] li-boxuan opened #37 "React Component: Move some arrow functions back to normal methods"
This https://github.com/coala/gh-board/pull/17 refactors React Component code, but some conversions are unnecessary.

As https://github.com/coala/gh-board/pull/17#discussion_r185246744 points out, it's unnecessary to convert method other than event listener to class properties, `this` is still this class because it's not called from event listener.

If we decide to move back to normal methods, we

[2018-05-15 09:41] li-boxuan opened #38 "Pre-fetch reactions"
https://github.com/coala/gh-board/pull/18 makes it easy to pre-fetch information we want. As a part of GSoC'18 Meta-review Project, reactions are to be pre-fetched.

Information we need:
review comment body text
reactions to the review comment (content, author, createdTime)
review comment context (diff hunk)

[2018-05-23 00:34] bekicot opened #40 "Broken link On header"
![gh-board-broken-link](https://user-images.githubusercontent.com/1826884/40397248-c4b5454c-5e5b-11e8-8921-3138ed84ad17.gif)

[2018-05-24 06:43] #40 closed

[2018-05-26 14:29] #38 closed

[2018-06-04 15:43] li-boxuan opened #43 "Get test suite working"
`script/run-test.sh` is not running on Travis for now.

[2018-06-07 05:45] jayvdb opened #45 "Add codecov"
After the test suite is working again, add codecov. c.f.
https://github.com/coala/git-task-list/issues/45

[2018-06-07 14:27] #24 closed

[2018-06-08 02:53] li-boxuan opened #47 "README.md: remove `Easter Eggs` section"
Easter Eggs code has been removed in the commit https://github.com/coala/gh-board/commit/57c5c7e34c761688b477eed6e578a4a27982b8ca
Need to remove that section from README.md: https://github.com/coala/gh-board#easter-eggs

[2018-06-08 04:38] #43 closed

[2018-06-09 09:01] bekicot opened #48 "Add .coafile"

[2018-06-09 09:57] li-boxuan opened #49 "`issues.json` and `recent-issues.json` are missing on Travis deploy"
They are missing atm: https://github.com/coala/gh-board/tree/gh-pages

I am pretty sure they were there yesterday.

Not sure if it's due to pr merged today https://github.com/coala/gh-board/pull/44.

Btw, Netlify works fine: https://coala-gh-board.netlify.com/issues.json

Anyway, we need test to check if they exist.

[2018-06-09 11:31] jayvdb opened #50 "src/lib/columns.js ignored by .gitignore"
[code]

Added in 15a45eff42

Possibly rename the file, or add it as an exception in `.moban.dt/gh-board-gitignore.jj2`

[2018-06-10 01:10] jayvdb commented on #49
Yes it was a bug in that PR, and a 'test' wouldnt have fixed it as it happened after test.

Why does the deploy not deploy ignored files?
That seems illogical, as it is normal to ignore built files.

[2018-06-10 03:40] jayvdb commented on #49
https://github.com/coala/git-task-list/blob/215892cce01cfa56b97de29ef96fd4fdbb08dd18/.travis.yml#L36 uses
`local_dir: dist`

[2018-06-10 03:41] blazeu commented on #49
gh-board has `index.html` in the root of the repo.

[2018-06-10 03:42] jayvdb commented on #49
It also had `dist/` in its `.gitignore` https://github.com/coala/git-task-list/blob/215892cce01cfa56b97de29ef96fd4fdbb08dd18/.gitignore#L4

[2018-06-10 03:44] jayvdb opened #52 "Use travis deploy `keep-history`"
This should make the deploy quicker as less changes need to be pushed, and show new issues being added incrementally.

https://docs.travis-ci.com/user/deployment/pages/

[2018-06-10 03:52] jayvdb commented on #49
is there any benefit in having it in the root of the repo?

would it be feasible to move `index.html` into the dist directory?

[2018-06-10 03:54] blazeu commented on #49
err, "generated assets", we don't want that commited.

The html is not generated, maybe it was for simplicity in the build process. It is common for it to be generated nowadays, even though it is blank (because SPA), but the benefit is we can set the asset src at build time.

[2018-06-10 03:56] blazeu commented on #49
Maybe, at build time,

or see above comment.

[2018-06-10 05:01] jayvdb commented on #49
By not using `local_dir: dist` (or similar), we are deploying lots of unnecessary files.

Anyway, the question of why has been reasonably answered.

Lets just get the current system fixed, and you can decide whether moving to different deploy mechanism is worth the effort.

[2018-06-10 05:05] jayvdb commented on #3
Unassigned due to inactivity

[2018-06-10 05:39] #49 closed

[2018-06-10 10:52] jayvdb commented on #45
Just doing the obvious results in 0 coverage, as it isnt watching the server

https://travis-ci.org/jayvdb/gh-board/jobs/390355795#L4918

@li-boxuan @blazeu @andrewda , either of you want to tackle this?

[2018-06-12 00:49] brentirwin commented on #47
I'm looking for somewhere to get started, and this looks as simple a place as any!

[2018-06-12 01:17] brentirwin commented on #47
I noticed while I was in there some other table of contents inconsistencies: an h1 that should have been an h3 and one item that was out of order. I fixed those small things too.

[2018-06-12 22:04] brentirwin opened #55 "README.md: Fix table of contents inconsistencies"
In the readme table of contents, "Burnup Chart" is not in the same order as it appears in the document. Also, the "Issue Images" section is currently an h1, but it is listed alongside h3's in the table of contents.

[2018-06-13 04:11] jayvdb opened #57 "Repo pre-fetch limit for PRs"
To speed up the build, while https://github.com/coala/gh-board/issues/23 isnt done, we could have a build variable which limits the the number of issues to load for PRs (while the master build would have no limits).

This might be a max count, or a min date.

[2018-06-13 06:10] li-boxuan commented on #57
Please assign this to me. It seems CDN used by Netlify is not quite stable recently.

[2018-06-13 06:15] jayvdb commented on #57
See http://npmjs.com/package/netlify-env and https://github.com/jayvdb/jekyll-netlify for how to detect "PRs" in netlify.

[2018-06-13 06:20] jayvdb commented on #47
Manually closing this as it was fixed in https://github.com/coala/gh-board/pull/54 without a 'Closing ...' in the commit message.

[2018-06-13 06:20] #47 closed

[2018-06-14 03:17] li-boxuan opened #60 "Travis failing due to webdriver-manager issue"
Travis CI fails sometimes.

`(node:4299) UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 1): Error: Failed to make Github request, rate limit reached.`

This is due to https://github.com/angular/webdriver-manager/issues/303

[2018-06-16 01:28] #57 closed

[2018-06-17 04:07] jayvdb commented on #60
Did you try the linked solution:

https://github.com/angular/webdriver-manager/issues/307#issuecomment-377684918

[2018-06-19 15:16] li-boxuan commented on #60
Could we disable test on Travis for now and see if this issue can get solved later? I am not able to make it work on my forked repo. IMO it'll be good to set up our own tests in the future. I am willing to do that if someone else could set up a boilerplate, coz I know nothing about js testing, especially React testing.

[2018-06-19 15:17] li-boxuan opened #61 "Applying `closed` filter returns `no issues`"
![jietu20180619-231737](https://user-images.githubusercontent.com/25746010/41606751-fb7eeb5c-7416-11e8-919d-6dcb0ec26b86.jpg)

[2018-06-19 15:18] li-boxuan commented on #61
Please kindly assign this issue to me ;)

[2018-06-23 09:22] #60 closed

[2018-06-23 14:26] li-boxuan opened #64 "Add `meta-review in need` column"
As a part of GSoC'18 meta-review project, there should be a column displaying reviews that in need of meta-review.

Please assign this to me ;)

[2018-06-27 14:12] li-boxuan commented on #3
Please assign this to me ;)

[2018-06-30 06:53] li-boxuan opened #66 "Use GraphQL for issue sync"
As part of the GSoC'18 project, we should use GraphQL for issue sync. Note that GraphQL requires API token, so it would only be used when the user logs in.

Please assign this to me ;)

[2018-06-30 06:53] li-boxuan commented on #66
Just note this is duplication of https://github.com/coala/gh-board/issues/26

[2018-06-30 06:53] #66 closed

[2018-07-03 14:00] li-boxuan opened #68 "Need to sync gitignore"
see https://travis-ci.org/coala/gh-board/jobs/399584256
[code]

[2018-07-04 15:07] #68 closed

[2018-07-12 14:32] jayvdb opened #71 "Login on netlify prefills with incorrect API endpoint"

[2018-07-12 14:40] li-boxuan commented on #71
That's introduced by https://github.com/philschatz/gh-board/commit/dd4ebb5fc4e210cad1c08468fc7e0edb596d72db

Maybe we could also add Netlify website to that exception

[2018-07-12 15:11] jayvdb opened #72 "Login with invalid token doesnt have appropriate error message"
When I put in an invalid token into the Login (like manually typing it on a mobile..), it doesnt show an appropriate error message.

Ideally the token is checked while the user is on the login form, and not saved if it doesnt work.

That allows better UI in the case of errors and avoids saving the token to be re-used on reload, etc

[2018-07-13 00:38] li-boxuan commented on #52
Please assign this to me ;)

[2018-07-13 01:51] #52 closed

[2018-07-13 14:21] li-boxuan opened #74 "Add test to verify that `issues.json` and `recent-issues.json` exist"
This should be run after `build.sh`

Some background information:
https://github.com/coala/gh-board/commit/f1c892e39f515bb82237b0fe849dbaa9ba436f80 has `issues.json`,
but the commit after that https://github.com/coala/gh-board/commit/bc81dc95201fcc1f5ed92345b8c5e1b24c388f90 removes `issues.json`. Need to make sure if the file exists before pushing to GitHub.

[2018-07-13 14:21] li-boxuan commented on #74
Please assign this to me :)

[2018-07-14 13:54] li-boxuan opened #76 "Moban task should not be deployed"
There are two tasks on Travis at the moment, namely `test` and `moban`.

https://travis-ci.org/coala/gh-board/jobs/403835659#L6037 (test job) creates a commit, which is expected.
https://travis-ci.org/coala/gh-board/jobs/403835660#L506 (moban job) also creates a commit, which is wrong.

The result of that bug is `issues.json` gets missed on gh-pages deploy branch. See coala/gh-board@6477dc6 and  i

[2018-07-14 13:56] li-boxuan commented on #76
Please assign this to me ;)

[2018-07-16 19:01] #74 closed

[2018-07-17 14:03] li-boxuan opened #78 "Travis test fails due to test timeout occasionally"
https://travis-ci.org/coala/gh-board/jobs/404756523#L5938

Seems 20 seconds is sometimes not long enough. Maybe change it into 60 sec to make sure server starts and everything is loaded.

[2018-07-17 14:20] li-boxuan commented on #71
I'll take this.

[2018-07-21 12:41] li-boxuan commented on #45
I've been investigating this today, and till now, I do not find a workable solution. Maybe we need to set up unit tests, as it is a bit difficult to let test coverage framework watch the server.

[2018-07-21 15:03] li-boxuan opened #82 "Add ability to filter reviews"
https://github.com/coala/gh-board/pull/65 adds a column called `meta-review in need`, which shows all review comments. There should be a filter option for user to filter reviews.

[2018-07-21 16:43] hemangsk opened #84 "UI Enhancements"
Listing few general areas where the UI can be enhanced and made easier to use:

1. It'd be great to have some breathing space around the emoji button row and between the buttons as well. That'd
- would remove cluttering
- be easily clickable
- font size of emoji's needs to grow 2x to have a clear view

<img width="631" alt="screen shot 2018-07-21 at 22 08 59" src="https://user-images.githubusercon

[2018-07-21 16:45] hemangsk commented on #84
3. The links contain some unique number which is related to github giving an ID to that comment. As a reviewer this number is not of interest to one. So there can a button instead, which could say "View the Issue Discussion / Comment" and that would take the reviewers to that URL
a. <img width="225" alt="screen shot 2018-07-21 at 22 13 45" src="https://user-images.githubusercontent.com/13018570/43

[2018-07-21 16:48] hemangsk commented on #84
4. Text padding , this is very crucial and can be more decluttered by adding a padding to the text.

<img width="307" alt="screen shot 2018-07-21 at 22 17 28" src="https://user-images.githubusercontent.com/13018570/43038267-e6ce0086-8d33-11e8-8645-a4891536a20e.png">

[2018-07-21 16:55] hemangsk commented on #84
So for
# 1, CSS padding property and margin property on the Buttons and other text and that card should do the job and make the box more spacious
# 2 Its more of a coding thing to add a ```{{  count }}``` inside the buttons which contains the count of user who have clicked that emoji. For showing that this has been meta reviewed by the reviewer, you can change the background of that particular car

[2018-07-22 02:03] li-boxuan commented on #45
I asked nyc community, they said we might use `nyc instrument` to pre-instrument the files for coverage. But we need nyc instrument `jsx` files as well, not sure how we could achieve that.

[2018-07-23 00:18] #71 closed

[2018-07-24 06:03] #64 closed

[2018-07-25 23:13] #3 closed

[2018-07-25 23:33] jayvdb opened #86 "Fails on Node 10"
Node 9 passes.

Node 10 does not.

[2018-07-26 03:34] jayvdb commented on #28
In addition to the approach taken at https://github.com/coala/gh-board/pull/87 , in case we ever need it again, it is possible (and useful) to cache `~/.node-gyp` , and it is also possible to install the latest `node-gyp` and run `node-gyp rebuild` before `npm install` to get around this problem.

But atm, we dont need `node-gyp`, because it was only being dragged in by an optional dependency.

[2018-07-26 09:34] jayvdb opened #88 "log "warning: no available reaction data! ... error: undefined""
https://travis-ci.org/jayvdb/gh-board/jobs/408352263#L1581

could it be 'errors: 0'

Or something shorter.
Excessive logging makes it harder to spot real problems.

[2018-07-26 09:38] jayvdb opened #89 "Fix new version checker"
`src/new-version-checker.js` currently polls 'philschatz/gh-board@gh-pages' -- it should at least poll `coala/gh-board`, but it should be done using a stored variable based on the build repo, so it works correctly on forks.

[2018-07-26 09:45] jayvdb opened #90 "Update target of "Star this project""
On the menu for the avatar of a logged in user is a link to star this project, which currently stars `philschatz/gh-board`.

It should link to `coala/gh-board` on our board, or link to someone elses board if it is running in a different org. (Similar to https://github.com/coala/gh-board/issues/89)

[2018-07-26 14:44] jayvdb commented on #45
OK, then we had better use unittests.

We could leave the integration tests running as a separate job, and once we have basic unit tests in place we could enable `allow_failure` on the integration tests job.

[2018-07-27 06:43] jayvdb opened #91 "Dashboard: Exclude repos without issues or pulls"
Newcomer

[2018-07-27 06:47] jayvdb commented on #91
Note this will make the repo list of logged in user much more useful.

Also will help with @wikimedia which has lots of mirrors and only a few github active repos

[2018-07-27 06:52] jayvdb opened #92 "Allow prefetching repos from several orgs"
Low

[2018-07-27 06:55] jayvdb opened #93 "GCI dashboard"
Suck GCI json data frpm gci leaders repo and create dashboard of all gci org repos

Medium difficulty?

[2018-07-27 06:58] jayvdb opened #94 "GSoC dashboard"
After https://github.com/coala/gh-board/issues/93

Blocked medium

[2018-07-27 07:02] jayvdb opened #95 "Dashboard : Add trending repos to samples"
Low

[2018-07-27 07:03] jayvdb opened #96 "Dashboard: Include orgs that user has submitted PRs"
Low

[2018-07-27 07:11] jayvdb opened #97 "Detect bot accounts"
Currently hard coded.

[2018-07-27 07:13] jayvdb opened #98 "Interact with bots"
After https://github.com/coala/gh-board/issues/97 , offer user to quickly add commands a repo bot understands.

Blocked. Difficulty medium

[2018-07-27 07:16] jayvdb opened #99 "Kanban: Click on org to jump to dashboard of single org"
https://coala-gh-board.netlify.com/#/r/wikimedia:mediawiki-extensions/kanban
leaves me nowhere to go but to my dashboard .

I should be able to click on the org and see repo list of the org

low difficulty

[2018-07-27 07:17] jayvdb opened #100 "Org logos"
Repos should show the logo of their org / user

[2018-07-27 07:30] jayvdb opened #101 "Label editing fails"
After logged in , "Label Editing" at bottom gear icon menu, goes to

https://coala-gh-board.netlify.com/#/labels

and shows

[2018-07-27 07:31] jayvdb commented on #101
Same with Gantt and Burnup and Milestone view

https://coala-gh-board.netlify.com/#/gantt
https://coala-gh-board.netlify.com/#/burnup
https://coala-gh-board.netlify.com/#/by-milestone

[2018-07-27 07:37] jayvdb commented on #101
It works when the user is on a repository view, then it goes to e.g.

https://coala-gh-board.netlify.com/#/r/coala:coala%7Ccoala-bears%7Cdocumentation%7Cprojects%7Cdevops%7Ccorobo%7Ccommunity%7Cgci-leaders%7Cgh-board%7Ccoala-html%7Clanding-frontend%7CcoalaCSS/labels

The menu items should be disabled if they are going to be broken links

[2018-07-27 07:39] jayvdb opened #102 "GitLab support"

[2018-07-27 07:41] jayvdb opened #103 "Label editor: choose color"
It would be lovely to have a tool to choose the color of a label and all repos(in the org) be updated to have a consistent color.

[2018-07-27 07:42] jayvdb opened #104 "Label editor: Add labl to a repo in the same org"
medium

[2018-07-27 07:45] jayvdb opened #105 "Gantt chat fails on coala/coala"
https://coala-gh-board.netlify.com/#/r/coala:coala/gantt - empty page

[2018-07-27 08:02] jayvdb opened #106 "Load initial saved queries from the wiki"
When a user first loads gh-board, they have no saved queries.
They could be loaded from the wiki (see #6) so each org can customise the new user experience.

[2018-07-27 08:04] jayvdb opened #107 "Dashboard: Load welcome page from wiki"
Before the user has logged in, the dashboard is just the sample repos.

On desktop, there is lots of empty space with could be a welcome blurb loaded from the wiki (see #6)

[2018-07-27 08:08] jayvdb opened #108 "Green login button shows during page load even when logged in"
If a page takes even a small amount of time to load, the green login button shows before it switches to be the user avatar.

Nothing should be shown until the user login state is known.
Ideally the user state should be determined earlier in the process of generating the page.

[2018-07-27 08:11] jayvdb opened #109 "Dashboard: Allow user to re-order orgs"
The order of the orgs appear to be based on most recently active repos.

A dashboard view with a constant user-choosen order will be a good "new tab" page so the content arrangement is constant and the user knows in advance how to navigate to where they want to go.

[2018-07-27 08:24] jayvdb opened #110 "Write new issue on gh-board"
The new issue link currently goes to https://github.com/coala/gh-board/issues/new

A simple popup would make creating issues easy, and could include a button to author on github instead.

[2018-07-27 08:26] jayvdb opened #111 "Show estimate of local cache size"
The gear icon has the option of clearing the local cache.

It would be nice to see how big it is.

[2018-07-27 08:34] jayvdb opened #112 "PR view: show number of commits in PR"
Ideally let the user hover over each commit and view the commit messages

[2018-07-27 08:38] jayvdb opened #113 "PR task list not editable"
When a PR has a task list in the initial pull request template, it is shown on the top row of the card , as a popup with real checkboxes.

It looks like the user can check the boxes and it would save.

This doesnt happen.

Also the task list popup renders the coala pull request template badly.

[2018-07-27 08:48] jayvdb opened #114 "Add link to PR /files tab"
Instead of loading the PR discussion tab, it is helpful to jump straight to the /files tab.

[2018-07-27 08:50] jayvdb opened #115 "Add link on PRs to fork's branch"
The username and fork branch name are helpful for fetching a local copy in order inspect/test it.

Also if the fork or branch is missing, a big scary icon is needed to show the PR is possibly broken and cant be updated.
(Similar to the 'unmergable' yellow icon)

[2018-07-27 08:57] jayvdb opened #116 "Closed items disappear too quickly"
Upon an issue closing or PR merging, the PR and/or issues disappear off the list very quickly.

Visually distracting, but also leaves the user wondering what it was, and they cant easily find it.

It would be better to have them put into a very small area with only the `#123` visible for each.  A queue of completed work, and new closed issues/PRs push the earliest ones out of the area.

Then it is

[2018-07-27 09:04] jayvdb opened #117 "Travis CI links not shown"
On coala repo, Circle CI status & links are shown while building, and Netlify deploy preview links also appear.

But I want to jump to Travis ...

[2018-07-27 09:27] jayvdb opened #118 "Add Travis job to build and test docker"

[2018-07-27 09:35] jayvdb opened #119 "i18n support"
https://github.com/philschatz/gh-board/issues/41

[2018-07-27 09:39] jayvdb opened #120 "Error: Bug in Octokat cacheHandler. It had an eTag but not the cached response."
We see this in the Travis logs quite a bit

c.f. https://github.com/philschatz/gh-board/issues/62

cc @waldyrious

[2018-07-27 09:40] jayvdb opened #121 "Better use of local caches"
c.f. https://github.com/philschatz/gh-board/issues/14

[2018-07-27 09:47] jayvdb opened #122 "Example of multiple org view"
Include an example in README and in dashboard sample repos of a view that includes multiple orgs , e.g.

http://philschatz.com/gh-board/#/r/openstax:napkin-notes%7C*%7CConnexions:*

c.f .https://github.com/philschatz/gh-board/issues/140

and https://github.com/philschatz/gh-board/issues/24

[2018-07-27 09:47] jayvdb commented on #92
See https://github.com/coala/gh-board/issues/122

Our repo list parsers likely need an update for this to work.

[2018-07-27 09:49] jayvdb commented on #92
Ideally tests also should be added to ensure it doesnt break as this is a feature that will be needed for GCI and GSoC dashboards.

https://github.com/coala/gh-board/issues/93
https://github.com/coala/gh-board/issues/94

[2018-07-27 09:55] jayvdb commented on #89
See also https://github.com/philschatz/gh-board/issues/57 which has some different ideas on how to achieve this.

[2018-07-27 10:48] domlobo commented on #55
Hi, is this issue still open

[2018-07-27 10:51] jayvdb commented on #55
Hiya @domlobo , sure I have invited you to join @coala so we can assign this issue to you.

Please read https://coala.io/commit carefully .
We dont merge unless the bot decides you've followed it precisely.

[2018-07-27 10:55] domlobo commented on #55
Awesome. Thanks, I'll get going now

[2018-07-27 10:57] jayvdb opened #123 "Add Projects support"
https://github.com/philschatz/gh-board/issues/112

[2018-07-27 12:12] jayvdb opened #125 "Create GitHub Pages Jekyll prefetcher"
GitHub Pages allows use of GitHub API via github metadata gem, and can create a json file.

It would mean 'fork' is all someone needs to do to get it working, without all the benefits of our build optimisations.
The data structure would need to be identical.
So we might want to tidy up the data structure first to eliminate some of the unnecessary duplication.
(Do we have an issue about that yet?)

[2018-07-27 12:39] jayvdb commented on #125
See https://github.com/philschatz/gh-board/issues/57

[2018-07-27 12:51] jayvdb commented on #5
That was a hack, and a proper solution was merged a few months later @ https://github.com/philschatz/gh-board/pull/23

[2018-07-27 13:13] jayvdb commented on #90
Or remove it , by cherry-picking https://github.com/hiroshis/gh-board/commit/915be31fbaeafaa09e4a20155bab808e9e9eb98a

[2018-07-27 13:21] jayvdb commented on #5
Of @hiroshis 's commits, the following look useful and not yet in this fork

* https://github.com/hiroshis/gh-board/commit/2c285cf1b72cedbbe5185a61382236647256258b fix /dashboard routing
* https://github.com/hiroshis/gh-board/commit/915be31fbaeafaa09e4a20155bab808e9e9eb98a - remove star this project menu item , .c.f. https://github.com/coala/gh-board/issues/90
* https://github.com/hiroshis/gh-boar

[2018-07-27 15:14] jayvdb opened #127 "API limit exceeded show Json error"
Gh-board knows the limit has been reached, and can parse this json error message if necessary.
This will be the single most common error. It should be pretty/user friendly.

Ideally showing the data it does have cached, but with a readonly feel to it.

[2018-07-28 14:19] #26 closed

[2018-07-28 14:51] li-boxuan opened #129 "Setup test framework"
Current integration test relies on selenium. The test is incomplete and unstable, failing occasionally.
It would be better to set up unit tests/snapshot tests.

[2018-07-28 14:51] li-boxuan commented on #129
I'll take this.

[2018-07-29 04:41] #55 closed

[2018-07-29 05:24] jayvdb opened #131 "Dashboard doesnt refresh after login"
If I load the dashboard without a token, it doesnt show "Loading list of  repositories"

If I add the token, my repositories do not appear.

If I reload the dashboard, they appear.

[2018-07-29 09:00] jayvdb opened #133 "Sign Out doesnt work"
Signing out seems to have no effect at all.

[2018-07-29 09:02] jayvdb commented on #133
The avatar stays.

It seems the token also keeps being used.

[2018-07-29 09:10] jayvdb commented on #133
It seems that the same problem exists on the upstream repos too.

[2018-07-29 10:12] li-boxuan opened #134 "dashboard routing not working"
https://coala.github.io/gh-board/#dashboard should be redirected to https://coala.github.io/gh-board/#/, but it is not.

[2018-07-29 10:22] li-boxuan commented on #133
It works for me, occasionally. Let me try to investigate if there is a bug around it.

[2018-07-29 11:48] #134 closed

[2018-07-29 12:46] li-boxuan opened #136 "app.less: Remove unused .game-modal"
https://github.com/coala/gh-board/blob/32337460bfb1ee16bbdf6672dd3a6fe108a66ac4/style/app.less#L291-L299 can be removed

[2018-07-29 14:27] jayvdb opened #137 "router.jsx 'replace' is defined but never used"
/home/travis/build/coala/gh-board/src/router.jsx
  30:22  warning  'replace' is defined but never used  no-unused-vars

[2018-07-29 14:33] li-boxuan opened #138 "Refactor pre-fetch using newly built graphql client wrapper"
c.f. https://github.com/coala/gh-board/pull/67#issuecomment-401536692

[2018-07-29 15:22] #131 closed, assigned to li-boxuan

[2018-07-30 04:02] jayvdb commented on #129
Note we have https://github.com/coala/gh-board/issues/27 for some basic tests.

I think we already had one build test merged to verify the file exists.

[2018-07-30 04:18] jayvdb commented on #133
I've tried in another browser , Falkon and Firefox, and lots of refreshing, I am not logged out.

To force a log out, I need to quickly catch the "Log in" button, and enter an invalid token, but that causes lots of extra bugs.

The avatar should at least change, and log in settings become available,  without a refresh.  That could be the first fix.

[2018-07-30 17:52] ANURADHAJHA99 commented on #137
please assign this issue to me.

[2018-08-01 01:56] jayvdb opened #140 "Netlify should fail if issues.json was not created"
Netlify currently runs `script/build.sh`, and deploys `.`

Create a `netlify.toml` to build and do basic sanity checks.

[2018-08-01 04:51] #82 closed

[2018-08-01 15:53] li-boxuan opened #141 "Switch from npm to yarn"
Now we are using npm, but facing some problems:

1. We are committing `package-lock.json`. If a contributor uses npm@6, there will be lots of carets before version number `"^1.0.2"`. However, if another contributor uses npm@5, there will not be carets. See https://github.com/npm/npm/issues/20434#issuecomment-386815163.

2. An issue regarding non-optional packages. See https://github.com/coala/gh-b

[2018-08-01 16:10] jayvdb opened #143 "Use released version of Level"
Currently depending on `"level-js": "philschatz/level.js#master"` , which has one extra commit from a branch 108 commits behind master of https://github.com/Level/level-js

The latest released version of level-js is quite different, and likely includes the needed configurability which that extra commit provided.

[2018-08-01 16:48] jayvdb commented on #143
Also the related `"levelidb": "^0.2.6"` causes a dependency on git repo https://github.com/Raynos/IDBWrapper.git@7958b742d7d41432bbf1f897ee1507edc6bff64e

[2018-08-01 17:50] jayvdb commented on #28
The problem is `bufferstream` and `buffertools`, which are optional dependencies ;-(

npm 5.8 can exclude them witth `npm install --no-optional`

`yarn install --ignore-optional` doesnt exclude them, despite issues suggesting this type of problem has been fixed like https://github.com/yarnpkg/yarn/issues/705

[2018-08-01 18:00] jayvdb commented on #28
There are a few issues which might be relevant at https://github.com/yarnpkg/yarn/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+optional

[2018-08-01 21:26] ANURADHAJHA99 commented on #137
https://github.com/ANURADHAJHA99/gh-board/commit/56d4d5f85a67dc04c15effced32c23f6141ba70a

please review the commit

[2018-08-03 00:00] #138 closed

[2018-08-03 01:59] #45 closed

[2018-08-03 01:59] #129 closed

[2018-08-03 02:29] #140 closed

[2018-08-03 05:28] jayvdb opened #145 "Use released version of etherpad-lite-client-js"
We have been given a green light at https://github.com/tomassedovic/etherpad-lite-client-js/issues/15 to push a necessary patch into upstream.

Once that is released, the dependency can be updated to point to the new release.

[2018-08-04 00:52] #84 closed

[2018-08-04 02:25] li-boxuan commented on #137
@ANURADHAJHA99 Please create a pull request.

[2018-08-04 02:29] li-boxuan opened #146 "Implement ability to do meta-reviews directly on gh-board"
s.t. users can add/remove reactions directly on gh-board.

[2018-08-04 02:55] li-boxuan opened #148 "package.json: tab is mistakenly used"
https://github.com/coala/gh-board/blob/3638063072aeea1925bab5f9565d7765bf8d4cf4/package.json#L110

[2018-08-04 04:03] jayvdb commented on #137
And be sure to read https://coala.io/commit carefully before creating your first PR.

[2018-08-04 07:08] li-boxuan opened #149 "meta-review ignore content has wrong regular expression"
https://github.com/coala/gh-board/blob/d1a7ea3ea66c7af7a51a9717f67fc635fc35cf41/src/github-client.js#L226
https://github.com/coala/gh-board/blob/d1a7ea3ea66c7af7a51a9717f67fc635fc35cf41/script/fetch-issues.js#L34

Should be
[code]
instead.

See difference:
[code]

[2018-08-04 08:03] li-boxuan commented on #149
Also https://github.com/coala/gh-board/blob/d1a7ea3ea66c7af7a51a9717f67fc635fc35cf41/script/fetch-issues.js#L28
TravisBuddy should also not be there.

[2018-08-05 00:26] #149 closed

[2018-08-07 13:47] blazeu opened #151 "Enable source map in production"
Real production apps might not want this, but we want this to ease reviewing of MR preview and easier reporting of bugs in general.

This will give proper stack traces just like in development mode.

[2018-08-07 13:50] blazeu commented on #151
CRA uses `cheap-module-source-map` in dev

https://github.com/facebook/create-react-app/blob/next/packages/react-scripts/config/webpack.config.dev.js#L78-L80

and `source-map` in prod

https://github.com/facebook/create-react-app/blob/next/packages/react-scripts/config/webpack.config.prod.js#L96-L98

Seems like our config is reversed a bit...

https://github.com/coala/gh-board/blob/38a94ce8e871136

[2018-08-09 00:53] li-boxuan opened #152 "README.md: Add meta-review section"
I'll take this ;)

[2018-08-09 05:38] jayvdb opened #154 "Inline source links render badly"
This comment
https://github.com/coala/gh-board/pull/147#discussion_r207887846

renders very badly in meta-review

[2018-08-09 07:55] #146 closed

[2018-08-09 16:00] #152 closed

[2018-08-10 09:35] #151 closed

[2018-08-15 13:46] imnotkk commented on #88
I would like to work on this issue.
Can you guide me how to and elaborate on this issue?
Thanks!

[2018-08-15 13:59] li-boxuan commented on #88
Relevant code can be found here: https://github.com/coala/gh-board/blob/ec19e220cc2ffe1c1f7dcf83c03ced2a189da039/src/github-graphql.js#L274

[2018-08-15 20:00] ANURADHAJHA99 commented on #137
I am answering through my phone..after setting the environment I will surely submit the pr.

[2018-08-20 01:57] jayvdb commented on #6
I've tested the wiki option, and glad that storing .yaml files in the wiki repo works well.

[2018-08-22 15:57] 123vivekr commented on #137
If anyone is not working on this, can I take up this issue?

[2018-08-23 00:52] jayvdb commented on #137
@ANURADHAJHA99 , if you do not have access to command line `git`, you wont be able to complete this task at the moment, and you should ask to be un-assigned.

[2018-08-26 16:44] 123vivekr commented on #29
@li-boxuan What should I do when user clicks the `GitPullRequestIcon`?
It is true that react-octicons doesn't use the `onClick` attribute. I guess we have to specify what should happen when the user clicks on the icon.

[2018-08-26 17:50] ANURADHAJHA99 commented on #137
I ask you to unassign me the following issue.Since I don't have the resources available right now.

[2018-08-27 01:51] giannisal commented on #88
Hello, in case @imnotkk is not working on this issue, I would like to take it up

[2018-08-27 01:57] li-boxuan commented on #29
If you take a look at the code here https://github.com/coala/gh-board/blob/4236f9ca19aed7f7c2b7a5ead25a81affca1ed72/src/components/issue-blurb.jsx#L107-L118, or try it on https://coala-gh-board.netlify.com/#/r/coala:gh-board/kanban by yourself, you would find you don't need to define the click behavior, which has been already defined.

[2018-08-28 00:43] #29 closed

[2018-08-31 10:08] 123vivekr commented on #148
Can you explain what has to be done here? I don't see any indentation problem in line 110.
Is it the indentation problem?

Thank you

[2018-08-31 10:10] li-boxuan commented on #148
@123vivekr It was mistakenly using `tab` instead of spaces. This should be a newcomer issue, though not labeled. If you have already solved a newcomer issue, leave this ;)

[2018-08-31 10:38] 123vivekr commented on #100
Please assign this issue to me.

[2018-09-01 14:12] jayvdb commented on #100
Assigned @123vivekr , Thanks.  Looking forward to this!

[2018-09-02 07:56] 123vivekr commented on #100
@jayvdb I've made some changes to the navbar. Take a look:

Before:
![before](https://user-images.githubusercontent.com/28249428/44953425-e7baf080-aeb2-11e8-9cda-7a9d5da575cd.png)
After:
![after](https://user-images.githubusercontent.com/28249428/44953431-edb0d180-aeb2-11e8-9ddd-fe6b34be6bf7.png)

[2018-09-02 08:45] 123vivekr commented on #100
@jayvdb I've also added organisation/owner logo to the repositories on dashboard. Take a look:
Before:
![before](https://user-images.githubusercontent.com/28249428/44954035-8a2aa200-aeba-11e8-84f4-87bc163e6c35.png)
After:
![after](https://user-images.githubusercontent.com/28249428/44954036-8e56bf80-aeba-11e8-976c-4c7792813061.png)

[2018-09-02 10:08] #100 closed

[2018-09-02 11:01] #148 closed

[2018-09-10 01:39] jayvdb commented on #141
My understanding is that yarn has similar, or worse, problems with optional packages.

[2018-09-12 17:02] 123vivekr commented on #141
Node Version Manager (NVM) can be used to load specific versions of npm. So everyone can work on the same version of node and avoid issues with dependency versions. What do you think about this?

[2018-09-13 01:11] li-boxuan commented on #141
I am using nvm to switch versions. But is there a good way to force everyone to use the same version of node?

[2018-09-18 05:42] aditya81070 commented on #137
I want to work on this issue. Please assign it to me.

[2018-09-18 06:16] aditya81070 commented on #137
@jayvdb  please assign this issue to me.

[2018-09-18 13:13] aditya81070 commented on #137
@Makman2  please assign this issue to me.

[2018-09-25 18:07] srivama commented on #101
@jayvdb  Please assign this issue to me.

[2018-09-29 13:10] li-boxuan opened #163 "router.jsx: browserHistory is mistakenly used"
https://github.com/coala/gh-board/commit/32337460bfb1ee16bbdf6672dd3a6fe108a66ac4 was trying to fix the `dashboard` navigation problem, but the fix was not perfect.

We should not use `browserHistory` at https://github.com/coala/gh-board/blob/32337460bfb1ee16bbdf6672dd3a6fe108a66ac4/src/router.jsx#L30 but `history` instead, which has been defined at https://github.com/coala/gh-board/blob/f08f19b70

[2018-09-29 13:15] li-boxuan commented on #163
To see why this is a problem, go to https://coala-gh-board.netlify.com. If you click on the dashboard icon (on top left), it would work. However, if you right click and open it in another page, it would go to `https://coala-gh-board.netlify.com` without the hashtag and the page would not be correctly loaded.

[2018-10-02 09:30] bhawesh96 commented on #163
Please assign this issue to me

[2018-10-02 10:13] bhawesh96 commented on #141
https://nitayneeman.com/posts/standardizing-node.js-version-in-an-npm-package/

This looks a simple good hack to me

[2018-10-07 03:08] jkosh44 commented on #50
Is anyone working on this? If not can I take it.

[2018-10-09 07:56] tathagat2006 commented on #137
@jayvdb Please assign this issue to me. thanks :)

[2018-10-09 07:58] tathagat2006 commented on #50
@jayvdb If no one is working on it, can you assign it to me?

[2018-10-09 07:59] li-boxuan commented on #137
@tathagat2006 Please look for some other issue. This issue is assigned and there is an open PR.

[2018-10-09 08:04] tathagat2006 commented on #50
@li-boxuan Thanks :)

[2018-10-11 02:19] #163 closed

[2018-10-13 01:56] #88 closed

[2018-10-16 14:34] li-boxuan commented on #72
@bhawesh96 Sounds like a plan, but I guess this would cause a problem. `fetchUser()` would return `currentUser` directly if it exists. This means when there is already a valid token that has been set previously, your strategy would not detect invalid token.

But anyway, I guess you are ready to take the issue. We can improve it once you have sth in your pull request. Do you want to take this issue

[2018-10-20 19:12] kx-chen commented on #136
@jayvdb Would like to work on this issue.

[2018-10-22 17:41] ashwini0529 commented on #133
I was trying to replicate the issue. I also experienced the same thing.
But while fetching data, if you click logout, it shows something like this.
https://imgur.com/OE0B9My
Idk but Github is facing some issues in uploading images. Hence attaching the link for the same.

[2018-10-23 05:45] li-boxuan commented on #133
Do you want to take this issue?

That might be another bug I guess. Probably the error message is not showing in the right place.

[2018-10-23 07:27] li-boxuan opened #171 "fetch-issues.js: Use dynamic date for Netlify preview deploy pre-fetching"
Netlify deploy for pull requests has 15 min time limit.

https://github.com/coala/gh-board/blob/38a94ce8e8711369e58502fefda67d4c479afc50/script/fetch-issues.js#L17 uses a hard-coded date.

This should be changed into a dynamic date, e.g. 3 months ago.

[2018-10-23 17:03] #136 closed

[2018-10-24 06:19] li-boxuan opened #172 "README: Change badges"
Badges on README.md refer to status of philschatz/gh-board, not coala/gh-board

https://github.com/coala/gh-board/blob/c7a667e88b5576ad1ac5bcba1460ce8c099b8541/README.md#L2-L4

We can also add Travis status.

[2018-10-24 06:23] li-boxuan opened #173 "Don't wait for fetching promise to finish before render the board"
When you open gh-board for the first time, it takes some time to fetch issues/prs from GitHub. Before the fetching promise finishes, the kanban board won't load. Since we have pre-fetched data already dumped into indexDB, we should display those data while fetching (syncing) is going on.

[2018-10-24 13:54] li-boxuan commented on #143
Seems the needed configurability is not provided by release version of level-js.

But levelidb can be safely removed I guess, I don't see any dependency on it.

[2018-10-24 16:58] li-boxuan commented on #93
@academyyyy12 gh-board has a dashboard as the homepage, see https://coala-gh-board.netlify.com/ It shows an example boards of GitHub repositories, etc.

This issue is about fetching a list of orgs and repos from coala/gci-leaders repository, creating a new dashboard on gh-board and show list of repos there. UI can be reused. Most code of gh-board can be reused.

[2018-10-25 03:07] #90 closed

[2018-10-25 05:56] amalrajan commented on #172
Can I take this up?

[2018-10-25 20:04] SerekKiri commented on #95
Can't find where are you fetching repos by using mannualy added repository name and owner.

[2018-10-26 09:05] li-boxuan commented on #95
@SerekKiri An invite to coala should be in your inbox. Can you find it and accept the invitation? So that we can assign you to this issue.

[2018-10-29 04:10] #173 closed

[2018-10-31 08:10] bhawesh96 commented on #171
Can I work on this issue?

[2018-11-01 09:45] li-boxuan commented on #114
@ENvironmentSet You should have an invite in your inbox now. Accept it and join the coala org 😉 If you have any difficulty solving this, feel free to leave a comment here, or directly ping me on https://coala.zulipchat.com or https://gitter.im/coala/gci We are very glad to help you 😛

[2018-11-01 13:27] li-boxuan opened #179 "Login locally prefills with incorrect API endpoint"
Similar to https://github.com/coala/gh-board/issues/71

The custom endpoint should be null when starting the app on the local machine.
![image](https://user-images.githubusercontent.com/25746010/47854485-cd52b400-de1c-11e8-925e-2658b82cb06d.png)

[2018-11-02 17:41] jayvdb commented on #93
This would integrate some of the functionality found at https://gci-leaders.netlify.com/  , which is https://github.com/coala/gci-leaders

[2018-11-07 03:09] #172 closed

[2018-11-07 12:39] #114 closed

[2018-11-11 03:38] jayvdb commented on #110
This issue reserved for Google Code-in task [4620564095303680](https://codein.withgoogle.com/dashboard/tasks/4620564095303680).

[2018-11-11 03:39] jayvdb commented on #6
This issue reserved for Google Code-in task [4669529339723776](https://codein.withgoogle.com/dashboard/tasks/4669529339723776).

[2018-11-11 03:39] jayvdb commented on #154
This issue reserved for Google Code-in task [4676020713029632](https://codein.withgoogle.com/dashboard/tasks/4676020713029632).

[2018-11-11 03:46] jayvdb commented on #115
This issue reserved for Google Code-in task [4922504456962048](https://codein.withgoogle.com/dashboard/tasks/4922504456962048).

[2018-11-11 03:50] jayvdb commented on #93
This issue reserved for Google Code-in task [5115355685978112](https://codein.withgoogle.com/dashboard/tasks/5115355685978112).

[2018-11-11 03:53] jayvdb commented on #95
This issue reserved for Google Code-in task [5219600498163712](https://codein.withgoogle.com/dashboard/tasks/5219600498163712).

[2018-11-19 09:31] li-boxuan commented on #179
@bhawesh96 Yeah, that's right. Do you want to take up this issue?

[2018-11-19 09:31] bhawesh96 commented on #179
Yes, I'll take it up.

[2018-12-18 12:03] li-boxuan commented on #145
@SerekKiri Remember to ask for assignment before working on an issue next time 😉

You need to solve the upstream issue, otherwise, this issue is blocked by the upstream one.

[2019-01-09 07:51] 123vivekr commented on #127
@jayvdb Please assign this issue to me

[2019-01-10 06:00] 123vivekr commented on #127
This is the page displayed when API limit exceeds.
![20190110_105807](https://user-images.githubusercontent.com/28249428/50948993-8fcc7000-14ca-11e9-8388-9d5fd553d838.png)

What I understood from this issue:
Reformat this message in a user-friendly way and display it in a separate overlay.

Thank you

[2019-01-27 06:11] 123vivekr commented on #179
@li-boxuan Is this issue still open?

[2019-01-31 07:28] jayvdb opened #185 "Netlify fails due to exceeding time limit"
12:07:59 AM: failed during stage 'building site': Command did not finish within the time limit

12:07:59 AM: Finished processing build request in 24m15.649361814s

[2019-01-31 09:14] li-boxuan commented on #185
https://github.com/coala/gh-board/issues/171 is a solution
There is a PR for that https://github.com/coala/gh-board/pull/178
Maybe you wanna take a look at that? @jayvdb

[2019-02-01 05:13] #171 closed

[2019-02-03 08:43] jayvdb opened #186 "moban sync needed"
See https://gitlab.com/coala/mobans/blob/master/README.rst for more details

[2019-02-03 11:04] rishikesh1410 commented on #186
@jayvdb I am new here, I just installed gh-board in my system. I would like to work on this issue.
Any help will be greatly appreciated.

[2019-02-04 03:39] jayvdb commented on #186
have you installed and run `moban` in this repo @rishikesh1410?

[2019-02-04 07:20] jayvdb commented on #185
ok, so that was solved.  Now the enhancement is to increase the amount of content being analysed/pre-fetched, by improving the performance of various parts of the process.

Anyone, add ideas here.  We'll raise new issues for any ideas which seem like a good idea.

[2019-02-04 08:41] rishikesh1410 commented on #186
@jayvdb yes I installed moban and also run in this repo.

[2019-02-04 12:19] rishikesh1410 commented on #91
If I am not wrong, We do not have to list those repos which are not having issues.
@jayvdb Can I get assined to this ?

[2019-07-19 22:02] MunishGrover commented on #186
@jayvdb Can I work on this issue?

[2019-08-18 09:23] ankitgarg0006 commented on #137
Hey. Is this issue still open. Please assign this to me.

[2020-06-26 05:12] rishikesh1410 commented on #186
Hello @jayvdb , I am really very sorry as I left this issue since Feb 2019. But I am active again and I want to work on this issue.
I have installed moban and also run in this repo. I did the exact procedure written in this link [https://gitlab.com/coala/mobans/blob/master/README.rst ]. Should I make a pull request?

[2020-08-25 16:40] Kartik-Khandelwal commented on #137
This issue is still open, i would like to work on it.